#main-navbar {
  border-bottom: 3px solid black;
  margin-top: 0px;
  width: 100%;
  font-size: 1.4em;
  position: fixed;
  top: 0;
  z-index: 999;
  text-decoration: none;
  background-color: white; }
  #main-navbar ul a {
    text-decoration: none;
    color: black; }
  #main-navbar ul li {
    display: inline;
    float: right;
    margin: 5px;
    padding: 15px;
    text-decoration: none;
    font-size: .5em; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; }

.logo {
  z-index: 1; }
  .logo h3 {
    margin-left: 15px;
    font-size: 1.4em; }

.message {
  width: 100%;
  height: 400px;
  margin-top: 90px;
  position: relative;
  background-color: #e6e6e6;
  border-bottom: 3px solid #b3b3b3;
  z-index: 2; }
  .message p {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 10%;
    margin-top: -8px;
    padding-top: 40px; }
  .message h2 {
    margin-top: 0px;
    padding: 3px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 2.3em;
    margin-left: 10%; }

.buttonstyle, .button-style {
  background-color: black;
  border: none;
  margin-left: 10%;
  margin-top: 10px;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px; }

.main-article {
  margin-top: 25%;
  float: left; }

.main-articlebox {
  float: left;
  width: 40%;
  height: 350px;
  margin-left: 5%;
  margin-right: 5%;
  border-color: #b3b3b3;
  border-style: solid;
  margin-bottom: 10%; }
  .main-articlebox .main-innerbox {
    background-color: #737373;
    width: 98%;
    height: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%; }

.button-style {
  float: left;
  margin-left: 0%;
  margin-right: 0%; }
